body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    padding-top: 10px;
    margin: 0;
    padding-left: 0;
    padding-right: 0;
}

h1{
    text-align: center;
}
.main-container{
    display: flex;
    justify-content: space-evenly;
}

.container{
    display: grid;
    height: 15%;
    width: 300px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 25% 25% 50%;
    grid-template-areas:
        "name name name"
        "score score score"
        "rock paper scissors";
}
.name{
    grid-area: name;
    justify-self: center;
    align-self: center;
}
.score{
    
    grid-area: score;
    justify-self: center;
    align-self: center;
}
.rock{
    grid-area: rock;
}
.paper{
    grid-area: paper;
}
.scissors{
    grid-area: scissors;
}

.choice{
    justify-self: center;
    align-self: center;
    border-color: black;
    border-style: solid;
    padding: 5px 5px 5px 5px;
    border-radius: 10%;
    box-shadow: 5px 5px 8px rgba(114, 114, 114, 0.4);
}

.container{
    border-style: solid;
    border-radius: 3%;
    box-shadow: 5px 5px 8px rgba(114, 114, 114, 0.4);
}

.choice:hover{
    transform: scale(1.1);
}

.win{
    border-color: rgb(36, 255, 55);
    box-shadow: 5px 5px 8px rgba(36, 255, 55, 0.4);
}

.lose{
    border-color: rgb(255, 24, 24);
    box-shadow: 5px 5px 8px rgba(255, 24, 24, 0.4);
}

.tie{
    border-color: rgb(255, 232, 24);
    box-shadow: 5px 5px 8px rgba(255, 232, 24, 0.4);
}

.main-container{
    padding-top: 30px;
}

#result{
    text-align: center;
    margin-top: 100px;
}

footer {
    text-align: center;
    font-size: 15px;
    position:absolute;
    bottom:0;
    width: 100%;
}

a:link{
    color: rgb(77, 77, 77);
    text-decoration: none;
}

a:visited{
    color: rgb(77, 77, 77);
}

a:hover {
    color: rgb(77, 77, 77);
    text-decoration: underline;
}

a:active {
    color: rgb(77, 77, 77);
}
